<div class="article_index">
  <% if flash.notice.present? %>
    <p><%= flash.notice %></p>
  <% end %>
  <% if current_user.news_posting_auth %>
    <p class="new_article"><%= link_to '新規投稿', new_article_path, class: 'btn' %></p>
  <% end %>
  <table class="article_table table table-striped">
    <thead>
      <tr>
        <th>タイトル</th>
        <th><%= sort_order "created_at", "投稿日" %></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <th><%= link_to article.title, article_path(article) %></th>
          <th><%= article.created_at.to_s(:datetime_jp) %></th>
          <% if current_user.id == article.author %>
            <th class="btn_th"><%= link_to '編集', edit_article_path(article),class: "btn btn-outline-primary" %></th>
            <th class="btn_th"><%= link_to '削除', article_path(article), method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-outline-primary" %></th>
          <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
